<h1>Start Evaluation</h1>

<%= form_for [@coach, @evaluation] do |f| %>
  <%= f.label "Enter Player Number:"%>
  <%= f.text_field :tryout_id, required: true %>
  <%= f.submit "Evaluate Player"%>
<% end %>