<h1>All Evaluations:</h1>
<h2><%= "#{@tryout.total_score}: #{@tryout.player.name} ##{@tryout.id}" %></h2>
<ul>
  <% @evals.each do |e| %>
    <li><%= link_to "#{e.total_score} from #{e.coach.name}", coach_evaluation_path(e.coach, e) %></li> <br>
  <% end %>
</ul>
<%= link_to "Back to My Evaluations", coach_evaluations_path(session[:coach_id]), method: 'get' %>