<div style= "background-color:#ffd300;" class="center jumbotron">
 <div class="container text-center" >
    <h2 class="display-5">Welcome to our Volley Ball Team!</h1>
    <p class="lead">Teams focused on volleyball skills and mechanics, positional training, and a grassroots program to introduce volleyball to youth and beginner players.</p>
    <hr class="my-1">
    <p>Coaches with experience running top ranked teams within the Carolina Region.</p><br><br>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-info text-center">Learn More</button>
    <div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
      <small>
      <a class="dropdown-item" href="<%=about_path%>">About</a>
      <a class="dropdown-item" href="<%=teams_path%>">Teams</a>
      </small>
    </div>
    <div>
    <a class="btn btn-success" href="<%=new_player_path%>" role="button">Join Now</a>
    </div>
  </div>
  
</div>
