<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; by Han Xu & Evan Kim
    </small>
    <nav>
      <ul>
        <li> <%=link_to 'About', root_path%> </li>
      </ul>
    </nav>  
  </footer>
</div>    